%p.comment_content= comment.comment
%p.comment_author= comment.user.email

- if user_signed_in?
   = link_to "Editar", edit_post_comment_path(comment.post, comment)
   = link_to "Deletar", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }
