!!!
%html
%head
  %title NUTED Forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = javascript_include_tag "jquery-3.3.1.min"
  = csrf_meta_tags
%body
  %header
    %p= link_to "NUTED Forum", root_path
    - if user_signed_in?
      = link_to "Novo Tópico", new_post_path
      = link_to "Logout", destroy_user_session_path
    - else
      = link_to "Registrar", new_user_registration_path
      = link_to "Login", new_user_session_path

.wrapper
  %p.notice= notice
  %p.alert= alert

.wrapper
  = yield
